.posts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
  padding: auto;
}

.postbox{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.following_card_text{
  text-align: left;
}